*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.thing{
    padding: 10px;
    border: 1px solid black;
}